.DS_Store
node_modules
/dist

stellar-fund-firebase-adminsdk-u8q2x-f39fcd9bfe.json
# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/stellar-fund-backend/.env
/stellar-fund-backend/node_modules
/stellar-fund-backend/package-lock.json